{{> header }}
{{> navbar_admin }}
<div class="container my-5">
  <h2 class="mb-4">Manage Events</h2>
  <!-- Button to Add New Event -->
  <div class="mb-4">
    <a href="/admin/add-event" class="btn btn-success">Add New Event</a>
  </div>
  {{#events.length}}
  <div class="row row-cols-1 row-cols-md-3 g-4">
    {{#events}}
    <div class="col">
      <div class="card h-100 shadow-sm">
        <div class="card-body">
          <h5 class="card-title">{{title}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{formattedDate}} at {{formattedTime}} {{timeZone}}</h6>
          <p class="card-text text-truncate">{{description}}</p>
          <!-- Read more toggle -->
          <a href="#!"
             class="card-link text-decoration-none"
             data-bs-toggle="collapse"
             data-bs-target="#desc{{_id}}">Read more</a>
          <div class="collapse" id="desc{{_id}}">
            <p class="card-text">{{description}}</p>
          </div>
          <p class="card-text mt-3">
            <strong class="text-muted">Venue:</strong> {{venue}}
          </p>
          <p class="card-text">
            <strong class="text-muted">Category:</strong> {{category}}
          </p>
        </div>
        <div class="card-footer bg-white">
          <a href="/admin/delete-event/{{_id}}"
             class="btn btn-danger btn-sm"
             onclick="return confirm('Are you sure you want to cancel this event?');">Cancel</a>
        </div>
      </div>
    </div>
  {{/events}}
</div>
{{/events.length}}
{{^events.length}}
<p class="text-center">No events to manage.</p>
{{/events.length}}
<br>
</div>
{{> footer_admin }}
<script>
  document.querySelectorAll('.container [data-bs-toggle="collapse"]').forEach(function (element) {
  element.addEventListener('click', function (event) {
    var targetId = element.getAttribute('data-bs-target');
    if (targetId && targetId.startsWith("#desc")) {
      event.preventDefault();
      var targetElement = document.querySelector(targetId);
      if (targetElement.classList.contains('show')) {
        targetElement.classList.remove('show');
        element.textContent = 'Read more'; // Change to 'Read more' when collapsed
      } else {
        targetElement.classList.add('show');
        element.textContent = 'Read less'; // Change to 'Read less' when expanded
      }
    }
  });
});
</script>
